carpetes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="estructura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="directori" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Aquí pots definir els elements per als subdirectoris o fitxers continguts -->
            </xs:sequence>
            <xs:attribute name="nom" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
